body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    background-color: rgb(46, 46, 46);
    color: aliceblue;
}
*{
    cursor: pointer;
}

.ct {
    max-width: 80%;
    min-width: 80%;
    margin: 20px auto;
    padding: 20px;
    background-color: rgba(147, 144, 144, 0.24);
    border-radius: 10px;
    box-shadow: 0 0 40px rgba(255, 0, 0, 0.402);
}

.app {
    display: flex;
    align-items: center;
    border-bottom: 1px solid #ddd;
    padding: 10px 0;
}

.app img {
    width: 50px;
    height: 50px;
    border-radius: 10px;
    margin-right: 20px;
}

.app-info {
    flex-grow: 1;
}

.app-info h3 {
    margin-top: 0;
}

.app-info p {
    margin: 5px 0;
}

.desc {
    margin-bottom: 20px;
}

.rel {
    display: flex;
    flex-wrap: wrap; 
}

.rel .rel-app {
    flex: 1;
    text-align: center; 
}
.rel .rel-app .ab img{
    max-width: 50px; 
    max-height:50px;;
    min-width: 50px; 
    min-height:50px;; 
    width: 50px;
    height:50px; 
}
.rel .a{ 
    text-decoration: none;
}


a {
    display: inline-block;
    padding: 10px 20px;
    background-color: rgb(34, 110, 172);
    color: #ddd;
    text-decoration: none;
    border-radius: 5px;

}